﻿@charset "utf-8";
html{color:#000}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
span,
a{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,
img,
iframe{border:0}
:focus{outline:0}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var{font-weight:normal;font-style:normal}
ol,
ul{list-style:none}
li{list-style:none}
caption,
th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
blockquote:before,
blockquote:after,
q:before,
q:after{content:''}
abbr,
acronym{border:0;font-variant:normal}
/* to preserve line-height and selector appearance */
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
/*input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit; vertical-align:middle;}*/
/*to enable resizing for IE*/
input,
textarea,
select{*font-size:100%}
/*because legend doesn't inherit in IE */
legend{color:#000}
/*clear float*/
.clearfix{zoom:1}
.clearfix:after{display:block;clear:both;content:'\20'}
.fleft{float:left}
.fright{float:right}
/*:not(input){
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
}*/
