﻿.page-nav {
    margin: 0;
    width: 100%;
    min-width: 800px;
}

.page-nav > li > a {
    display: block;
}

.page-nav-tabs {
    background: #EEE;
}

.page-nav-tabs > li {
    line-height: 40px;
    float: left;
    list-style: none;
    display: block;
    text-align: -webkit-match-parent;
}

.page-nav-tabs > li > a {
    font-size: 14px;
    color: #666;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 0;
    border: 1px solid transparent;
    border-bottom-width: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.page-nav-tabs > li > a, .page-nav-tabs > li > a:focus {
    border-radius: 0 !important;
    background-color: #f9f9f9;
    color: #999;
    margin-right: -1px;
    position: relative;
    z-index: 11;
    border-color: #c5d0dc;
    text-decoration: none;
}

.page-nav-tabs >li >a:hover {
    background-color: #FFF;
}

.page-nav-tabs > li.active > a, .page-nav-tabs > li.active > a:hover, .page-nav-tabs > li.active > a:focus {
    color: #576373;
    border-color: #c5d0dc;
    border-top: 2px solid #4c8fbd;
    border-bottom-color: transparent;
    background-color: #FFF;
    z-index: 12;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
}

.account-basicinformation span{font-weight:700;}
.account-stat-num > div{width:33%; float:left; font-size:16px; text-align:center;}
.account-stat-num > div span{display:block; font-size:30px; font-weight:bold;}