﻿* {margin:0;padding:0;}

.link_tel:before{
    font-size:20px;
    margin-left:0;
    position:absolute;
    left:10px;
    top:2px;
    font-size:25px;
}

.box{width:96%; /*margin:10px 2% 100px;*/ border-radius:5px;}
/*box-list*/
.box-list{ position:relative;}
.box-list .hd,
.box-list .bd,
.box-list .ft{ float:left; overflow:hidden;}
.box-list .hd{ width:40%; border-radius:5px;}
.box-list .hd img{ max-width:100%;}
.box-list .bd{ width:55%; padding:0 0 0 5%;}
.box-list .bd.fw{ width:100%; padding:0;}
.box-list .bd p span{ width:70%;}
.box-list .bd p b,
.box-list .bd b span{ float:left;}
.box-list .bd p.list-number b{ line-height:32px;}
.box-list .ft{ border-top:1px solid #eaeaea; padding:10px 0 0 0; width:100%; margin:10px 0 0 0;}
.box-list .ft a:last-child{ border:0;}
.box-list .ft img{ max-height:18px; padding:0 5px 0 0; vertical-align:top;}
/*table*/
.table {
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
}
.tr{ display:table-row;}
.td {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.box-list .bd b{ color:#333; font-size:15px; padding:0 0 5px 0;font-weight: bold;}
.box-list .bd p{ color:#999; overflow:hidden; padding:0 0 5px 0;}