@charset "utf-8";
/**初始化样式开始**/
*{margin:0;border:0; padding:0;}
/*注：font-size:87.5%;他根的字体大小：14px，这里的14px是一个动态的值,那么页面中的其他字体则是设计图上的值除以14px所得到的*/
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;font-size:87.5%;}
body{font:14px/160% Microsoft YaHei, Arial, Helvetica, sans-serif,宋体; color:#333;position:relative;}
body .container{position:relative;min-width:320px;margin:0 auto;}
li{list-style:none;}
em,i{ font-style:normal; font-weight:normal;}
img{ border:0; vertical-align:middle;}
a{color:#000;text-decoration:none; outline:none;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);}
body input,body select{outline:none; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);}
body textarea,body button{outline:none;resize:none;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);}
body label{-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{ display:inline-block;display: block;zoom: 1;}
*html .clearfix{ height: 1%;}
h2{ font-size:16px;}
h3{ font-size:14px;}
h4{ font-size:12px;}
.ellipsis{ text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.fl{ float:left;}
.fr{ float:right;}
.vh{ visibility:hidden;}
.dn{ display:none;}
.tc{ text-align:center;}
.w{ width:100%;}
.border2{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;}
.border3{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.border4{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.border5{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.border6{-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.border8{-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;}
.border10{-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
.border16{-webkit-border-radius:16px;-moz-border-radius:16px;-ms-border-radius:16px;-o-border-radius:16px;border-radius:16px;}
/*css3实现圆形*/
.circle{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;}

/**初始化样式结束**/


/**注册/登录页面样式**/
.header{height:44px;width:100%;background:#17bf72;}
.header > p{text-align:center;font-size:17px;color:#fff;line-height:44px;}
.login_form{margin:30px 15px 0 15px;}
.login_form .input_box{border:1px solid #e6e6e6;height:40px;line-height:40px;padding:0 10px;}
.login_form .input_box p{font-size: 14px;}
.input_box .input_text{width:80%;line-height:normal;height:40px;display: block;text-indent: .5em;font-size: 14px;color:#333;}
.login_form .btn_login{display: block;width:100%;background:#17BF72;height:40px;color:#fff;font-size: 14px;text-align: center;line-height:40px;margin-top:20px;}

.login_form .btn_toreg{margin-top:20px;color: #999;}
.login_form .btn_toreg span{color:#17BF72}
/**注册/登录页面样式**/

/**会员资料完善页面样式**/
.header1{height:44px;width:100%;background-color:#17bf72;position: relative;}
.header1 > p{width: 100%;text-align:center;font-size:17px;line-height:44px;color:#fff;background:url(../img/btn_back.png) 10px 15px no-repeat;-webkit-background-size:10px 18px;}
.header1 > a{height:44px;width:40px;display: block;position: absolute;left:0;top:0;}

.login_form1{margin:20px 15px 0 15px;}
.login_form1 .input_name{height:40px;line-height:40px;padding:7px 0;}
.login_form1 .input_name p{font-size: 14px;display: block;width:25%}
.login_form1 .input_text{width:73%;line-height:normal;height:40px;display: block;text-indent: .5em;font-size: 14px;color:#333;border: 1px solid #E6E6E6;}
.login_form1 .input_sex{height:40px;line-height:40px;padding:7px 0px 0 0px;}
.login_form1 .btn_save{display: block;width:100%;background:#17BF72;height:40px;color:#fff;font-size: 14px;text-align: center;line-height:40px;margin-top:20px;}
.login_form1 .add{height:40px;width:73%;}
.add select{width:32%;height:100%;border: 1px solid #E6E6E6;display:inline-block;background: #fff;}
/**会员资料完善页面样式**/

/**会员卡专区页面样式**/
.member_top{ width:100%; height:90px; background:#fff; position:relative;}
.member_top .member_top_t{ height:100%;width:95%; padding:13px 0 13px 0px; position:relative;}
.member_top .member_top_t .left{ width:26.875%; text-align:left;margin-left:20px;}
.member_top .member_top_t .left .weichatt_headimg{ display:inline-block; width:64px; height:64px; background:#fff; border:#fff solid 2px;}
.member_top .member_top_t .right{ margin-top:12px; width:35.125%;}
.member_top .member_top_t .right dd{font-size:14px; color:#000; line-height:22px;width:100%}
.member_top .member_top_t > a{margin-top:12px;display:block; font-size:12px; color:#fff;background:#ffaa07;width:62px;height:21px;line-height:21px;text-align: center;}
.barcode{width:100%;height:192px;/*background:url(../img/barcode_bg.png) center no-repeat;margin:10px 0;*/-webkit-background-size:100% 170px;position:relative;}
.barcode .barcode_box{width:100%;;height:170px;background: #fff;position:absolute;top:11px;}
.barcode_box p{padding:20px 0 8px 0;text-align:center;color:#666;font-size: 12px;}
.barcode_box .barcode_img{text-align: center;padding: 0 15px;}
.barcode_box .barcode_img > img{width:100%;height:68px;}
.membership_card_nav{height:160px;width:100%;background: #fff;margin-bottom: 10px;}
.membership_card_nav .cardnav_t{width:90%;height:50px;padding:15px 0;border-bottom:2px solid #f2f2f2;margin:0 auto;}
.cardnav_t .cardnav_t_l{width:49%;border-right:2px solid #f2f2f2;}
.cardnav_t_l .cardnav_grzl{background:url(../img/img_nav_grzl.png) 15px 10px no-repeat;-webkit-background-size:29px 27px;text-align: center;padding-left: 10%;}
.cardnav_t .cardnav_t_r{width:49%;}
.cardnav_t_r .cardnav_yhq{background:url(../img/img_nav_yhq.png) 15px 10px no-repeat;-webkit-background-size:29px 27px;text-align: center;padding-left: 10%;}
.membership_card_nav .cardnav_b{width:90%;height:50px;padding:14px 0;margin:0 auto;}
.cardnav_b .cardnav_b_l{width:49%;border-right:2px solid #f2f2f2;}
.cardnav_b_l .cardnav_xfjf{background:url(../img/img_nav_jfxf.png) 15px 10px no-repeat;-webkit-background-size:29px 27px;text-align: center;padding-left: 10%;}
.cardnav_b .cardnav_b_r{width:49%;}
.cardnav_b_r .cardnav_fjmd{background:url(../img/img_nav_fjmd.png) 15px 10px no-repeat;-webkit-background-size:29px 27px;text-align: center;padding-left: 10%;}

.footer_out{height:43px;width:100%;background: #fff;color:#e44242;text-align: center;font-size: 14px;display: block;line-height: 43px;}
/**会员卡专区页面样式**/

/**消费积分页面样式**/
table{color:#fff;text-align: center;padding:0;margin:0;border:0; border-collapse:collapse;border-spacing:0;}
table tr th{height:43px;background: #42c7a0;}
table tr td{height:35px;}
table .bb2{width:95%;border-bottom:1px dashed rgba(255,255,255,0.1);}
table .br{border-right:1px dashed rgba(255,255,255,0.1);}
/**消费积分页面样式**/

/**优惠券页面样式**/
.coupon_box{width:100%;margin:10px auto;}
.coupon_box .coupon{width:100%;background: #fff;margin-bottom:10px;}
.coupon .coupon_t{width:100%;height:73px;background:url(../img/coupon_bg.png) left 71px repeat-x;background-color:#f56767;-webkit-background-size:288px 4px;position:relative;}
.coupon .coupon_t p{display:block;width:87px;height:45px;color:#fff;font-size: 28px;text-align: center;line-height:45px;border-right:1px solid rgba(255,255,255,0.2);float: left;margin-top:15px;}
.coupon .coupon_t p > span{font-size: 13px;}
.coupon .coupon_t dl{width:180px;color:#fff;margin-left: 24px;margin-top:15px;}
.coupon .coupon_b{padding:10px 12px;background:url(../img/coupon_bg.png) left -2px repeat-x;-webkit-background-size:288px 4px;}
.coupon_b dd{font-size: 12px;line-height: 18px;}
/**优惠券页面样式**/

/**附近门店页面样式**/
.store_introduction{height:110px;width:100%;background: #fff;margin-bottom: 10px;}
.store_introduction .store_introduction_l{width:100px;margin:15px 0px 15px 9px;}
.store_introduction .store_introduction_l img{width:88px;height:78px;border:1px solid #e6e6e6;}
.store_introduction .store_introduction_r{width:60%;margin:15px 0px;}
.store_introduction_r .store_name{font-size: 15px;margin-bottom: 5px;color:#333;}
.store_introduction_r .store_phone{font-size: 14px;background:url(../img/phone_img.png) left 4px no-repeat;-webkit-background-size:10px 13px;padding-left:15px;margin-bottom: 3px;color:#333;}
.store_introduction_r .store_add{color:#999;font-size: 12px;background:url(../img/location_img.png) left 3px no-repeat;-webkit-background-size:11px 14px;padding-left:15px;line-height:18px;}
/**附近门店页面样式**/


