﻿@charset "utf-8";
/*
*首页样式
*/

.header-wrap{width: 100%;height: 50px;line-height:48px;background:#D9434E;position: relative;}
.htsearch-wrap{padding:0px 50px 0px 10px;}
.htsearch-wrap .search-btn{top: 8px;right: 0px;}
.htsearch-input{height: 30px;border:0px;width: 100%;text-indent: 8px;vertical-align: middle;font-weight: normal;font-size: 14px;-webkit-appearance:none;}

body{
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;


	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 0;
	margin: 0;
	background-color: #EBEBEB;
	background-color: #ffffff;

	color: #000;
	font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;
	line-height: 1.25em;

	min-width: 320px;

}
input[type="text"], input[type="password"], select {
	width: 100%;
	padding: 0 2px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
textarea {
	width: 100%;
	padding: 5px;
	height: 80px;
	border: none;
	border-radius: 4px;
}
del{
	text-decoration: line-through;
	font-size: 10px;
}


.main { max-width: 640px; min-width: 320px; margin: 0 auto;	overflow: hidden;}

.index_block { width: 100%; clear: both; margin-top: .8em; border-top: solid 1px #D1D1D1; border-bottom: solid 1px #D1D1D1; overflow: hidden;}
.index_block .title { font-size: 1em; color: #777; background-color: #FFF; padding: .8em; }
/* 块模型布局B、D */
.home2 .content { font-size: 0; background-color: #FFF; *word-spacing: -1px/*IE6、7*/; white-space: nowrap; border-top: solid 1px #D1D1D1; overflow: hidden;}
.home2_1,
.home2_2 { font-size: 12px; vertical-align: top; letter-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 50%; *zoom:1/*IE7*/;}
.home2 .border-left { border-left: 1px solid #D1D1D1;}
.home2 .border-right { border-right: 1px solid #D1D1D1;}
.home2 .border-bottom{ border-bottom: 1px solid #D1D1D1;}

.home3 .content { font-size: 0; background-color: #FFF; *word-spacing: -1px/*IE6、7*/;}
.home3 .item { letter-spacing: normal; vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 48%; margin: 1%; *zoom:1/*IE7*/;}

.item img {
	width: 100%;
	display: block;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}

.swipe-wrap {
	overflow: hidden;
	position: relative;
}

.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}

.swipe-wrap img { width: 100%; max-height: 240px; min-height: 120px;}

.goods { border: none;}
.goods .title { background-color: transparent; padding: 8px;}
.goods .content { font-size: 0; *word-spacing: -1px/*IE6、7*/;}
.goods-item { font-size: 16px; background-color: #FFF; letter-spacing: normal; vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 48%; margin: 1%; border-radius: 5px; *zoom:1/*IE7*/; box-shadow: 0 1px 2px rgba(0,0,0,0.15);}
.goods-item a { display: block;}
.goods-item-pic { display: block; max-width: 240px; min-width: 120px; max-height: 240px; min-height: 120px; margin: 8px auto 0 auto;}
.goods-item-pic img { width: 100%;}
.goods-item-name { font-size: 0.8em; line-height: 18px; color: #777; height: 36px; padding: 8px 8px 0 8px; margin-bottom: 8px; overflow:hidden;}
.goods-item-price { font-size: 1em; color: #F30; height: 20px; padding: 8px 0; margin: 0 8px; border-top: dotted 1px #D1D1D1;}

.with-home-logo {
	background-image: url(../Images/home_logo.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding-left: 135px;
}




/*品牌开始*/
.pinpailistbox{width:100%;float:left;background-color:#fff;padding:5px;}

.pinpailistbox .pinpailistitem{width:75px;height:75px;float:left;margin:3px;border:1px solid #e8e5e5;padding:1px;}
.pinpailistbox .pinpailistitem a{}
.pinpailistbox .pinpailistitem img{width:100%;}
/*品牌结束*/


/*仿京东css*/
.banner{
	position: relative;
}
.banner li,.banner3 li {
	float: left;
	text-align: center;
	display: table-cell;
	vertical-align: top;
}
.banner li a img,.banner3 li a img{
	vertical-align: middle;
	width: 100%;
}
.banner .guid,.banner3 .guid {
	position: absolute;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.banner .guid li,.banner3 .guid li {
	width: 14px;
	height: 2px;
	display: inline-block;
	margin-left: 5px;
	background-color: rgba(255, 255, 255, 0.6);
	vertical-align: middle;
	text-indent: 1000em;
}
.banner .guid li.on{
	background-color: #fff;
	height: 4px;
	margin-top: -2px;
}
.banner3 .guid li.on{
	background-color: #fff;
	height: 4px;
	width: 4px;
	border-radius: 2px;
	margin-top: -2px;
}

.m_list{padding-bottom:1%;width: 100%;margin-top: auto;margin-bottom: auto;}
.m_list ul li{
	float: left;
	width: 25%;
	height: auto;
	text-align: center;
}
.m_list ul li a img{
	display: block;
	margin: 0 auto;
	width: 40%;
}
.m_list ul li span{
	display: block;
	line-height: 36px;
	color: #999;
	font-size: 13px;
}
.flash .title {
	color: #f00;
	line-height: 36px;
	margin-left: 10px;
	float: left;
}
.flash .title2{
	float: right;
	margin-right: 10px;
	color: #666;
	line-height: 36px;
	font-size: 13px;
}
.flash > div{width: 100%;overflow: hidden;border-bottom: solid 1px #e8e8e8;}
.flash ul{width: 100%;position: relative;}
.flash ul li{width: 33.3333%;position: relative;padding:0.5rem 3% 0.6rem 3%;-webkit-box-sizing: border-box;float: left;display: inline-block;vertical-align: top;}
.flash ul li p{color: #333;padding-top: 0.5rem;}
.flash ul li img{width: 100%;}
.flash ul li i{position: absolute;top: 1rem;right: 9%;color: #FFFFFF;font-size: 0.8rem;width: 2.3rem;height: 2.5rem;padding-left: 0.2rem;text-align:center;line-height: 2rem;background: url("../Images/flash_img2.png") no-repeat;background-size: 100%;}
.flash ul .line_l{ padding:0;z-index: 5;position: absolute;width: 1px;background-color: #e8e8e8;height: 82%;left: 33.3333%;top: 9%;}
.flash ul .line_r{ padding:0;z-index: 5;position: absolute;width: 1px;background-color: #e8e8e8;height: 82%;left: 66.6666%;top: 9%;}

.swiper-loop {width: 100%;}
.swiper-loop .swiper-slide {width: 33.33%;}
.pagination-loop {left: 10px;top: 230px;width: 160px;position: absolute;z-index: 20;}
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {
	text-align: center;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.P_list{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
}
.P_list ul{
	width: 72em;
}
.P_list ul li{
	float: left;
	width: 9em;
	text-align: center;
	display: table-cell;
	vertical-align: top;
}
.P_list ul li a {
	display: block;
	border-right: 1px solid #f0f0f0;
}
.P_list ul li a img{
	width: 98%;
	vertical-align: middle;
}
.P_list ul li span{
	display: block;
}
.xian_price{
	color: #f00;
	line-height: 24px;
}
.banner2{
	max-width: 1002px;
	position: relative;
	margin-bottom: 10px;
}
.banner2 img{
	width: 100%;
	height: auto;
}
.img_list{
	text-align: center;
	padding-bottom: 5px;
}
.img_list a{
	float: left;
	width: 33%;
	overflow: hidden;
	background-color: #ffffff;
	padding: 5px 10px;
}
.img_list a img{
	width: 100%;
	vertical-align: middle;
}
.img_list2 a img{
	height: 100%;
	vertical-align: middle;
}
.img_list2{
	border-top: 1px solid #f0f0f0;
	/*border-bottom: 1px solid #f0f0f0;*/
	text-align: center;
	width: 100%;
	height: 12rem;
}
.img_list2 a{
	display: block;
	float: left;
	width: 49%;
	height: 6rem;
	padding-top: 5px;
	padding-bottom: 5px;
}
.list3{margin-left: auto;margin-right: auto;}
.list3 h{
	display: block;
	width: 100%;
	color: #f00;
	line-height: 36px;
	font-size: 16px;
	border-bottom: 1px solid #f0f0f0;
	text-indent:10px;
}
.list3_img{
	/*width: 100%;*/
	text-align: center;
	overflow: hidden;
}
.list3_img .snack,.list3_img .snack2{
	width: 49%;
	height: 11rem;
	float: left;
	overflow: hidden;
}
.list3_img .snack{border-right: 1px solid #f0f0f0;padding: 5px;}
.list3_img .snack img{
	/*display: block;*/
	height:100%;
	vertical-align: middle;
}
.list3_img .snack2 .sn2_main{
	height: 5.5rem;
	overflow: hidden;
	padding: 5px;
}
.list3_img .snack2 .sn2_main img{
	height: 100%;
	/*border-bottom: 1px solid #f0f0f0;*/
	vertical-align: middle;
}
.list3_img2{
	width: 100%;
	text-align: center;
}
.list3_img2 .snack3{
	width: 100%;

}
.list3_img2 .snack3 .s3_box{
	display: block;
	height: 5.5rem;
	overflow: hidden;
	width: 49%;
	float: left;
	border-top: 1px solid #f0f0f0;
	padding: 5px;
}
.list3_img2 .snack3 a img{
	vertical-align: middle;
	height: 100%;
}
/*.l3_img1{
	border-right: 1px solid #f0f0f0;
}*/
.list4{width: 100%; border-top: 8px solid #f1f1f1;}
.list4 .list4_header{line-height: 36px;color: #f00;margin-left: 10px;font-size: 16px;}
.list4 .list4_li li{width: 100%;margin-left: auto;margin-right: auto;margin-bottom: 5px;}
.list4 .list4_li li a{width: 49%;float: left;display: block;}
.list4 .list4_li li a .like_img_list{width: 100%;padding: 5px;text-align: center;}
.list4 .list4_li li a .like_img_list img{vertical-align: middle;width:80%;}
.list4 .list4_li li a .like_img_main{margin: 5px 10px;width: 90%; padding-bottom:5px;border-bottom: 1px solid #ccc;}
.list4 .list4_li li a .like_img_main p{font-size: 12px;color: #666;height: 28px;line-height: 14px;overflow: hidden;text-align: left; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.list4 .list4_li li a .like_img_price p{float: left;margin-left: 10px;line-height: 36px;color: #f00;font-size: 14px;}
.list4 .list4_li li a .like_img_price span{float: right;border: 1px solid #ccc;padding: 5px 10px;border-radius: 4px;font-size: 10px;margin-right: 10px;color: #666;}

.index_main{
	width: 100%;
	height: auto;
	margin-left: 0;
}
.index_list{
	width:25% ;
	float: left;
	background-color: #f0f0f0;
	overflow: hidden;
}
#wrapper,#wrapper2 {
	position: relative;
	overflow: hidden;
	-ms-touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller,#scroller2 {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	width: 100%;
}


#scroller li{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#scroller .action a{color: #f00;}
#scroller  .action {
	background-color: #fff;
	border-right: none;
	color: #f00;
}
.in_m_count h{
	line-height: 36px;
	font-size: 1rem;
	margin-left: 10px;
}
.index_list ul li{
	line-height: 40px;
	height: 40px;
	text-align: center;
	font-size: 0.5rem;
	border-bottom: 1px solid #ccc;
}
.index_list2{
	float: right;
	width: 75%;
	height: 100%;
}
.index_list2 .in_m_count ul li{
	float: left;
	width: 33.3%;
	height: 8rem;
	text-align: center;
	overflow: hidden;
	padding: 5px;
}
.index_list2 .in_m_count ul li a img{
	height: 70%;
}
.index_list2 .in_m_count ul li a span{
	display: block;
	line-height: 24px;
	font-size: 0.5rem;
	color: #666;
}

#wrapper2{
	overflow-y: scroll;
}
/*仿京东css*/