﻿/*layout*/
body {
  min-width: 320px;
  font-size: 14px;
  line-height: 1.428;
  color: #333;
  font-family: "Microsoft Yahei","微软雅黑","Helvetica Neue",Helvetica,Tahoma,sans-serif; 
}
input[type="text"], input[type="password"], select {
  width: 100%;
  padding: 0 2px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px; 
}
textarea {
  width: 100%;
  padding: 5px;
  height: 80px;
  border: none;
  border-radius: 4px; 
}


.gray-bg{
  background-color: #f4f4f4;
}
header{
  height: 46px;
  line-height: 46px;
  width: 100%;
  z-index: 100;
  background: #f63763;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}
header h5{
  text-align: center;
  color: #fff;
}
header .lft{
  position: absolute;
  left: 12px;
  top:0;
}
header .rt{
  position: absolute;
  right: 12px;
  top:0;
}
.icon-back{
  background: url(../Images/back.png) no-repeat center center;
  background-size: 12px auto;
  width: 20px;
  height: 28px;
  margin-right: 5px;
  margin-top: -2px;
}
#loadingbox{height:20px;line-height:20px;text-align:center;margin-top:5px;margin-bottom:55px;}
.icon-user,.icon-menu{
  background: url(../Images/user.png) no-repeat center center;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  margin-top: -1px;
}
.icon-menu{
  background-image: url(../Images/menu.png);
}
.tab{
  display: table;
  background-color: #fff;
}
.tab li{
  display: table-cell;
  width:1%;
  text-align: center;
  vertical-align: middle;
  height: 42px;
}
.tab li span{
  display: inline-block;
  line-height: 24px;
  padding:0 10px;
  min-width: 70px;
  border-radius: 24px;
  border: 1px solid transparent;
}
.tab li.active span{
  color: #f63763;
  border: 1px solid #f63763;
  
}
ul.con li{
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
ul.con li a{
  display: block;
  overflow: hidden;
  padding:8px 15px;
}
ul.con li a:hover,ul.con li a:active{
  background-color:#ece2dd;
}
ul.con li .pic{
  float: left;
  margin-right: 10px;
  width: 64px;
}
ul.con li .txt h5{
  margin: 8px 0 5px;
}

menu{
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
menu ul{
  width: 100%;
  display: table;
  height: 50px;
  border-top: 1px solid #ddd;
}
menu ul li{
  display: table-cell;
  width: 1%;
  vertical-align: middle;
  text-align: center;
}
menu ul li p{
  color: #a4a4a4;
  font-size: 12px;
}
menu li .icon{
  background: url(../Images/m1.png) no-repeat center center;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
menu li .icon-m1{
  background-image: url(../Images/m1.png);
}
menu li .icon-m2{
  background-image: url(../Images/m2.png);
}
menu li .icon-m3{
  background-image: url(../Images/m3.png);
}
menu li .icon-m4{
  background-image: url(../Images/m4.png);
}
menu li .icon-m5{
  background-image: url(../Images/m5.png);
}
menu li.active .icon-m1{
  background-image: url(../Images/m1_h.png);
}
menu li.active .icon-m2{
  background-image: url(../Images/m2_h.png);
}
menu li.active .icon-m3{
  background-image: url(../Images/m3_h.png);
}
menu li.active .icon-m4{
  background-image: url(../Images/m4_h.png);
}
menu li.active .icon-m5{
  background-image: url(../Images/m5_h.png);
}
menu li.active p{
  margin-top: 2px;
  color: #f63763;
}

/*内页*/
.content{
  padding:10px;
}
dl.item{
  padding:10px 0;
  color: #666;
}
dl.item dt{
  float: left;
  text-align: center;
  padding-right: 10px;
}
dl.item dt img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
dl.item dd{
  display: table-cell;
}
dl.item dd .txt{
  line-height: 1.5;
}
dl.item dd .tt{
  margin-bottom: 8px;
}
dl.item dd .tt .red{
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #ef2121;
  line-height: 1;
}
dl.item dd h5{
  font-size: 18px;
  color: #333;
  margin-bottom: 2px;
}
dl.item dd .describ{
  margin-top: 5px;
  font-size: 12px;
}
dl.item dd .describ span{
  display: inline-block;
  margin-right: 15px;
}
dl.item a.more{
  color:#9bdcfb;
}
dl.item .labels{
  margin-top: 8px;
}
dl.item .labels i{
  line-height: 22px;
  padding: 0 10px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 7px;
  border-radius: 4px;
}
dl.item .adv{
  margin-top: 5px;
  overflow: hidden;
}


dl.item .adv table td{
text-align:center;

background-position: center;

background-repeat: no-repeat;

background-attachment: scroll;
background-size:contain;
over-follow:hidden;

}

dl.item .adv table img{
float:left;
min-width:75px;
max-width:100%;
}

dl.item .adv .npic img{

height:15%;
}

dl.item .adv .fpic img{

height:15%;
}


.btn-red{
  color: #fd766e;
  border:1px solid #fd766e;
}
.btn-blue{
  color:#54cdd5;
  border:1px solid #54cdd5;
}
.btn-green{
  color:#c3de4a;
  border:1px solid #c3de4a;
}
dl.item .adv li{
  width: 33.333%;
  float: left;
}
dl.item .adv li a{
  display: block;
  padding-right: 5px;
  padding-bottom: 5px;
}

/*我的*/
.ubox{
  padding:15px;
  margin: 10px 0;
}
.ubox .pic{
  padding-right: 15px;
}
.ubox .pic img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.ubox .txt p{
  color: #666;
}
.but-box{
  text-align: center;
}
.list-u li {
  border-bottom: 1px solid #e2e2e2;
}
.list-u li a{
  padding:12px 15px;
  display: block;
  position: relative;
}
.list-u li a:after{
  background: url(../Images/arr_d.png) no-repeat center center;
  content: "";
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  background-size: auto 100%;
  top: 50%;
  margin-top: -7px;
  right: 10px;
}
.icon-u{
  background: url(../Images/u1.png) no-repeat center center;
  background-size: 100% 100%;
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.icon-u.u2{
  background-image: url(../Images/u2.png);
}
.but-box{
  margin: 10px 15px;
}
.but-box [class*="btn-"]{
  width: 100%;
}
.btn-submit{
  background:#46bf18;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 44px;
  display: block;
  border-radius: 4px;
}

.navbar{
  height: 46px;
  line-height: 44px;
  width: 100%;
  z-index: 100;
  background: #f63763;
  font-size: 16px;
  padding: 0 12px;
  color: #fff;
  padding-top: 1px;
}
.search{
  margin-right:64px;
  margin-top: 7px;
  background:#fff;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}
.icon-sort{
  background:url(../Images/sort.png) no-repeat center center;
  background-size: auto 100%;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.search .srh{
  margin-left: 30px;
}
.search .srh input{
  background: transparent;
  font-size: 14px;
  border: none;
}
.icon-srh{
  background:url(../Images/srh.png) no-repeat center center;
  background-size: 16px 16px;
  width: 26px;
  height: 30px;
  margin-left: 4px;
}
.custom{
  margin:10px 6px 6px;
  overflow: hidden;
}
.custom>div{
  padding: 0 3px;
  float: left;
}
.custom .lft-pad{
  width: 37%;
  height: 4rem;
}
.custom .rt-pad{
  width: 63%;
  height: 4rem;
}
.custom .rt-up,.custom .rt-down{
  height: 50%;
}
.custom .rt-up{
  padding-bottom: 3px;
}
.custom .rt-down{
  padding-top: 3px;
}
.custom .col{
  height: 100%;
  width: 50%;
  float: left;
}
.custom .col:first-child{
  padding-right: 3px;
}
.custom .col:last-child{
  padding-left: 3px;
}
.custom a{
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.list-cust{
  margin: 6px;
  overflow: hidden;
}
.list-cust li{
  float: left;
  width: 25%;
  padding:  2px;
  
}
.list-cust li img{
  width: 100%;
}

.prd-box{
  background:#fff;
  border-bottom: 1px solid #eee;
}
.prd-box .table{
  padding:12px 8px 0;
}
.prd-box .tb-txt{
  position: relative;
  vertical-align: top;
  line-height: 1.2;
}
.prd-box .tb-txt .txt{
  font-size: 12px;
  color: #999;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.prd-box .tb-txt .txt .red{
  position: absolute;
  right:0;
  bottom:18px;
}
.prd-box .tb-txt .txt .red em{
  font-size: 18px;
}
.prd-box .pic{
  display: inline-block;
  margin-right: 8px;
  width: 90px;
  min-height: 90px;
}
.prd-box .oper{
  overflow: hidden;
  padding: 10px;
  line-height: 20px;
  margin-top: 10px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
}
.prd-box .oper a{
  float: left;
  width: 50%;
  text-align:center; 
}
.prd-box .oper a:last-child{
  border-left:1px solid #e2e2e2;
  color: #f63763;
}
.prd-box .oper a.special{
  color: #f66437;
}
.icon-oper{
  background:url(../Images/copy.png) no-repeat center center;
  background-size: 16px auto;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  margin-top: -2px;
}
.icon-oper.add{
  background-image:url(../Images/puls.png);
}
.special .icon-oper.add{
  background-image:url(../Images/add2.png);
}
.icon-oper.buy{
  background-image:url(../Images/lei.png);
}

.detail{
  padding: 10px;
}
.detail .txt{
  margin-top: 10px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}
.detail .txt .red{
  position: absolute;
  left: 0;
  bottom:18px;
}
.detail .txt .red em{
  font-size: 18px;
}
.detail .txt .fix{
  position: absolute;
  right:0;
  bottom:20px;
}
.prd-desc{
  padding: 0 10px;
  color: #666;
}
.prd-desc dt{
  padding: 8px;
  line-height: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.prd-desc p{
  margin-bottom: 10px;
}
.list-det{
  padding: 10px 15px;
  background:#fff;
  overflow: hidden;
  color: #666;
}
.list-det li{
  float: left;
  width: 25%;
  text-align: center;
}
.icon-det{
  background:url(../Images/d1.png) no-repeat center center;
  background-size: 100% auto;
  width: 32px;
  height: 32px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.icon-det.det1{
  background-image:url(../Images/d1.png)
}
.icon-det.det2{
  background-image:url(../Images/d2.png)
}
.icon-det.det3{
  background-image:url(../Images/d3.png)
}
.icon-det.det4{
  background-image:url(../Images/d4.png)
}

.hot h6{
  line-height: 40px;
}
.list-hot{
  overflow: hidden;
  padding: 0 6px;
}
.list-hot li{
  float:left;
  width: 33.33%;
  padding:0 6px 8px;
}
.list-hot li .pic img{
  border: 1px solid #e2e2e2;
}
.list-hot li .pic{
  display: block;
  margin-bottom: 3px;
}
.list-hot li .txt{
  font-size: 12px;
  margin-top: 5px;
  line-height: 18px;
}
.list-hot li .txt em{
  font-size: 12px;
}
.boot{
  height: 50px;
  line-height: 50px;
  position: fixed;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e2e2e2;
  bottom:0;
  padding: 0 10px;
}
.boot .limit{
  text-align: center;
}
.btn-orange{
  background: #f69a37;
  line-height: 38px;
  color: #fff;
  width: 135px;
  margin-top: 5px;
  border-radius: 4px;
}
.btn-orange:visited{
  color: #fff;
}
.boot .limit{
  margin-left: 145px;
}
.btn-buy{
  background: #f63763;
  line-height: 38px;
  color: #fff;
  width: 100%;
  margin-top: 5px;
  border-radius: 4px;
  display: block;
}
.btn-buy:visited{
  color: #fff;
}

#alertmsg{z-index:99999;height:0;width:0;}
#alertmsg .alertmsgalt{width:100%;height:100%;background-color:#000;position: fixed;filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;z-index: 9999;}
#alertmsg .alertmsger{width:200px;background-color:#000;margin:0 auto;position: fixed;margin:auto;left:0; right:0;top:35%;color:#fff;font-size:14px;filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1;z-index:99999;}
#alertmsg .alertmsger .msgtext{font-size:16px;text-align:center;padding:12px;}
#alertmsg .alertmsger .msgbtnbox div{display: table-cell;width: 1%;text-align: center;vertical-align: middle;height: 38px;border-top:1px solid #ccc;}





.user{
  padding:0 15px;
  margin-bottom: 10px;
}
.user>p{
  color: #666;
  padding:6px 0 10px;
  line-height: 1.5;
}

.footer{
  background:#fff;
  margin-top: 10px;
  padding: 15px;
}
.prd-tags{
  padding: 15px;
  border:1px solid #e2e2e2;
  border-radius: 6px;
}
.prd-tags .inner{
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
.prd-tags .inner span{
  display: inline-block;
  margin: 3px 20px;
}
.prd-logo{
  display: inline-block;
  margin: 5px;
  width: 150px;
}
.show-desc{
  padding:10px 10px;
  color: #666;
}
.show-desc h5{
  margin: 10px 0 20px;
  font-size: 18px;
  color: #333;
}
.show-desc p,.show-desc img{
  margin: 5px 0;
}
.show-desc p{
  line-height: 1.6;
}

/*购物车*/
.s_main{padding-bottom: 60px;}
.s_m_top{
  background-color: #f1f1f1;
  padding: 1px 0 10px 0;
}
.s_m_top .list_img{
  float: left;
}
.s_m_list .table{
  margin-top: 10px;
}
.table{
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
}
.num_b_main{
  float: left;
  border: 1px solid #ccc;
}
.num_b_main span{
  display: block;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  float: left;
}
.price{
  color: #f63763;
  font-size: 18px;
  margin-right: 10px;
}
.num_box{
  margin-top: 5px;
}
.n_remove{
  float: right;
  margin-right: 5px;
}
.n_remove a {
  display: block;
  width: 24px;
  height: 24px;
}
.n_remove a img{
  display: block;
  width: 100%;
  height: 100%;
}
.shop_button a{
  display:block ;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  line-height: 38px;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
}
.shop_button .shop_end{
  background-color:#f63763 ;
  color: #ffffff;
}
.shop_button .shop_again{
  border: 1px solid #ccc;
  color: #cccccc;
}