{if $cssflag!=1}
<style>
	menu {
		background-color: #fff;
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	menu ul{
		width: 100%;
		display: table;
		height: 50px;
		border-top: 1px solid #ddd;
	}
	menu ul li{
		display: table-cell;
		width: 1%;
		vertical-align: middle;
		text-align: center;
	}
	menu ul li p{
		color: #a4a4a4;
		font-size: 12px;
		margin: 0!important;
	}
	menu li .icon{
		background: url(themes/default/lxy_eshopping/Images/m1.png) no-repeat center center;
		background-size: 100% 100%;
		width: 24px;
		height: 24px;
	}
	menu li .icon-m1{
		background-image: url(themes/default/lxy_eshopping/Images/m1.png);
	}
	menu li .icon-m2{
		background-image: url(themes/default/lxy_eshopping/Images/m2.png);
	}
	menu li .icon-m3{
		background-image: url(themes/default/lxy_eshopping/Images/m3.png);
	}
	menu li .icon-m4{
		background-image: url(themes/default/lxy_eshopping/Images/m4.png);
	}
	menu li .icon-m5{
		background-image: url(themes/default/lxy_eshopping/Images/m5.png);
	}
	menu li.active .icon-m1{
		background-image: url(themes/default/lxy_eshopping/Images/m1_h.png);
	}
	menu li.active .icon-m2{
		background-image: url(themes/default/lxy_eshopping/Images/m2_h.png);
	}
	menu li.active .icon-m3{
		background-image: url(themes/default/lxy_eshopping/Images/m3_h.png);
	}
	menu li.active .icon-m4{
		background-image: url(themes/default/lxy_eshopping/Images/m4_h.png);
	}
	menu li.active .icon-m5{
		background-image: url(themes/default/lxy_eshopping/Images/m5_h.png);
	}
	menu li.active p{
		margin-top: 2px;
		color: #f63763;
	}

	.btn, .icon, [class^="icon-"], [class^="btn-"] {
		display: inline-block;
		text-align: center;
	}
	i {
		vertical-align: middle;
	}
	ul, ol, li {
		list-style: none!important;
		padding: 0!important;
		margin: 0!important;
</style>
{/if}
<menu style="z-index:100;">
	<ul>
		<li class="active"><a href="{php echo $this->createMobileUrl('list')}"> <i
				class="icon icon-m5"></i>
			<p>首页</p>
		</a></li>
		<li><a href="{php echo $this->createMobileUrl('list2new',array('ishot'=>1))}"> <i
				class="icon icon-m1"></i>
			<p>热门</p>
		</a></li>
		<li><a href="{php echo $this->createMobileUrl('contactus')}"> <i
				class="icon icon-m2"></i>
			<p>品牌</p>
		</a></li>
		<li><a href="{php echo $this->createMobileUrl('mycart')}"> <i
				class="icon icon-m3"></i>
			<p>购物车</p>
		</a></li>
		<li><a href="{php echo $this->createMobileUrl('myorder')}""> <i
				class="icon icon-m4"></i>
			<p>我</p>
			</a></li>
	</ul>
</menu>

<script>
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideToolbar');
		{if $_GPC['act'] != 'entry' && $_GPC['do'] != "list" && $_GPC['do'] != 'list2new' && $_GPC['do'] != 'detail' && $_GPC['do'] != 'contactus'}
		WeixinJSBridge.call('hideOptionMenu');
		{else}
		WeixinJSBridge.call('showOptionMenu');
		{/if}
	});
</script>