{template 'common/header-gw'}
<ol class="breadcrumb">
	<li><a href="./?refresh"><i class="fa fa-home"></i></a></li>
	<li class=""><a href="{url 'system/welcome'}">系统</a></li>
	<li class="active">云服务诊断</li>
</ol>
<div class="main form-horizontal form">
	<form action="" method="post" role="form" onsubmit="return confirm('如果您的系统没有发生云服务链接异常, 请不要使用重置功能.');">
		<h5 class="page-header">云服务状态诊断</h5>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">站点URL</label>
			<div class="col-sm-10">
				<p class="form-control-static">{$_W['siteroot']}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">站点ID</label>
			<div class="col-sm-10">
				<p class="form-control-static">{$_W['setting']['site']['key']}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">通信密钥</label>
			<div class="col-sm-10">
				<p class="form-control-static">{php echo substr($_W['setting']['site']['token'], 0, 5) . '*****' . substr($_W['setting']['site']['token'], -5, 5);}</p>
				<div class="help-block">
					<a href="javascript:;" id="look">查看全部</a>&nbsp;&nbsp;
					<input type="hidden" value="{$_W['setting']['site']['token']}" id="token" />
				</div>
				<div class="help-block">请查看您的站点ID和通信密钥, 需要保证与<a href="{php echo url('cloud/profile');}">云服务平台记录</a>的值一致, 否则不能正常使用云平台的各项服务. </div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">系统版本</label>
			<div class="col-sm-10">
				<p class="form-control-static">WX{php echo IMS_VERSION}{php echo IMS_FAMILY} (Release {php echo IMS_RELEASE_DATE})</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-11">
				<input type="submit" name="submit" value="重置站点ID和通信密钥" class="btn btn-primary" />
				<input type="hidden" name="token" value="{$_W['token']}" />
				<div class="help-block">如果您的站点ID和通信密钥与您绑定的站点信息中的记录不一致, 或访问云服务失败并多次重试后无效时. 请点击重置按钮, 重新注册您的站点信息(如果需要使用相同的星豚微信定制论坛账号绑定, 需要先在云服务后台中解除绑定) </div>
			</div>
		</div>
	</form>
	<h5 class="page-header">云服务网络诊断</h5>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">服务器时间检查</label>
		<div class="col-sm-10">
			<p class="form-control-static" id="check-time">检测中...</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">DNS解析函数</label>
		<div class="col-sm-10">
			<p class="form-control-static">{if function_exists('gethostbyname')}<i class="fa fa-check text-success"></i> 正常{else}<i class="fa fa-remove text-warning"></i> 异常{/if}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">云平台域名解析</label>
		<div class="col-sm-10 js-checkip">
			{loop $checkips $index $ip}
				<p class="form-control-static">云节点{php echo $index+1;}：<span id="serverdnsip">{$ip}</span>; 速率测试：<span class="form-control-static" id="checkresult">检测中...</span></p>
			{/loop}
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">绑定云服务接口IP</label>
		<div class="col-sm-10">
			<p class="form-control-static">{if !empty($_W['setting']['cloudip'])}自定义接口IP：{$_W['setting']['cloudip']['ip']}{/if}&nbsp;<a href="javascript:;"  data-toggle="modal" data-target="#set-server-ip">设置接口IP</a></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">云平台到站点测试</label>
		<div class="col-sm-10">
			<p class="form-control-static" id="check-touch">检测中...</p>
		</div>
	</div>
</div>
<form method="post">
<div class="modal fade in form-horizontal" id="set-server-ip" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">设置云服务ip地址</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label col-xs-3">云服务ip</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="ip" value="{$_W['setting']['cloudip']['ip']}" />
						<span class="help-block">如果您解析的云服务ip异常，可以在此手动设置</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-primary" name="updateserverip" value="ok">确认</button>
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</div>
	</div>
</div>
</form>
<script>
	$('#look').click(function(){
		util.message('Token:' + $('#token').val(), '', 'info');
	});
	$('.js-checkip p').each(function(){
		var $this = $(this);
		$.getJSON('./index.php?c=cloud&a=diagnose&do=testapi&ip='+$this.find('#serverdnsip').html(), function(testdata) {
			$this.find('#checkresult').html(testdata.message);
		});
	});
	$.ajax({
		type : "get",
		data : {'date' : '{$_W['timestamp']}', 'version' : '{php echo IMS_VERSION}', 'siteurl' : '{$_W['siteroot']}'},
		url : "http://addons.wexin.qq.com/web/index.php?c=site&a=diagnose&jsonpcallback=?",
		dataType : "jsonp",
		success : function(data){
			if (data['check_time']['errno'] == '0') {
				$('#check-time').html('<i class="fa fa-check text-success"></i> 正常');
			} else {
				$('#check-time').html('<i class="fa fa-remove text-warning"></i> 异常，当前时间为：'+data['check_time']['message']['localtime']+"; 服务器时间为："+data['check_time']['message']['servertime']);
			}
			if (data['check_touch']['errno'] == '0') {
				$('#check-touch').html('<i class="fa fa-check text-success"></i> 正常');
			} else {
				$('#check-touch').html('<i class="fa fa-remove text-warning"></i> 异常，'+data['check_touch']['message']);
			}
		},
		error:function(){
			alert('fail');
		}
	});
</script>
{template 'common/footer-gw'}
