{template 'common/header-gw'}
<style>
	.guide em{font-style:normal; color:#d9534f;}
	.guide .list-group .list-group-item a{color:#07d;}
	.guide .list-group .list-group-item{padding-top:20px;}
	.guide .img{margin-bottom:15px; display:inline-block; border:1px solid #cccccc;padding:3px;}
	.guide .con{padding: 10px 30px;}

</style>
<ol class="breadcrumb">
	<li><a href="./?refresh"><i class="fa fa-home"></i></a></li>
	<li><a href="{url 'account/display'}">公众号列表</a></li>
	<li class="active">配置微信公众号</li>
</ol>
<div class="clearfix guide">
	<h4>您绑定的微信公众号：<em>wxtest</em>； 请按下列引导完成配置。</h4>
		<div class="list-group">
			<div class="list-group-item">
				<h5 class="page-header">登录 <a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a>，点击左侧菜单最后一项，进入 [ <em>开发者中心</em> ]</h5>
				<div class="con">
					<div class="img"><img src="resource/images/guide-01.png"/></div>
					<p># 如果您未成为开发者，请勾选页面上的同意协议，再点击 [ <em>成为开发者</em> ] 按钮</p>
				</div>
			</div>
			<div class="list-group-item">
				<h5 class="page-header">在开发者中心，找到［<em> 服务器配置</em> ］栏目下URL和Token设置</h5>
				<div class="con">
					<div class="img"><img src="resource/images/guide-02.png"/></div>
					<p># 将以下链接链接填入对应输入框：</p>
					<form action="" method="post" class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-1 col-lg-1 control-label">URL:</label>
							<div class="col-sm-9 input-group">
								<input type="text" class="form-control" disabled/>
								<span class="input-group-btn">
									<button class="btn btn-default">复制</button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-1 col-lg-1 control-label">Token:</label>
							<div class="col-sm-9 input-group">
								<input type="text" class="form-control" disabled/>
								<span class="input-group-btn">
									<button class="btn btn-default">复制</button>
								</span>
							</div>
						</div>
					</form>
					<p># 如果以前已填写过URL和Token，请点击[<em> 修改配置 </em>] ，再填写上述链接</p>
					<p># 请点击 [<em> 启用 </em>] ，以启用服务器配置：</p>
					<div class="img"><img src="resource/images/guide-03.png" width="524;"></div>
				</div>
			</div>
			<div class="list-group-item">
				<h5 class="page-header">用个人微信号发送<em>关键字</em>到该微信公众号，以验证接口可用性</h5>
				<div class="con">
					<p>最后，点击下方“发送成功，完成设置”</p>
					<div class="btn btn-primary">发送成功，完成设置</div>
				</div>
			</div>
		</div>
</div>
{template 'common/footer-gw'}