{template 'common/header-base'}
<div class="home">
	<div class="content clearfix">
		<div id="head">
			<div class="logo" {if !empty($copyright['flogo'])}style="background:url('{php echo tomedia($copyright['flogo']);}') no-repeat;"{/if}></div>
			<div class="advertisement">
				{if !empty($copyright['notice'])}
					{$copyright['notice']}
				{else}
					再小的品牌，也有自己的引擎
				{/if}
			</div>
			<div class="btns">
				<a href="{url 'user/login'}" class="btn btn-primary btn-lg"><i class="fa fa-user"></i> 立即登录</a>
				{if !empty($settings['register']['open'])}
				<a href="{url 'user/register'}" class="btn btn-primary btn-lg"><i class="fa fa-user-plus"></i> 我要加入</a>
				{/if}
			</div>
		</div>
		<div id="banner" class="carousel slide" data-ride="carousel">
			<div class="carousel-indicators"><i class="fa fa-angle-double-down"></i></div>
			<div class="carousel-inner" role="listbox">
				{if !empty($copyright['slides'])}
					{php $i = 1;}
					{loop $copyright['slides'] $slide}
						<div class="item {if $i == 1}active{/if}" style="background-image:url({php echo tomedia($slide);});"></div>
						{php $i++;}
					{/loop}
				{else}
				<div class="item active" style="./resource/images/gw-bg.jpg"></div>
				{/if}
			</div>
		</div>

		<div class="con container">
			<div class="panel panel-default">
				<h4>系统功能介绍</h4>
				<div class="panel-body">
					<div class="row system-info">
						<div class="col-xs-3">
							<div class="icon"><i class="fa fa-tablet"></i></div>
							<h6>微网站、微场景</h6>
						</div>
						<div class="col-xs-3">
							<div class="icon"><i class="fa fa-bullseye"></i></div>
							<h6>微信营销解决方案</h6>
						</div>
						<div class="col-xs-3">
							<div class="icon"><i class="fa fa-life-ring"></i></div>
							<h6>微信账号集中一站管理</h6>
						</div>
						<div class="col-xs-3">
							<div class="icon"><i class="fa fa-sitemap"></i></div>
							<h6>强大的商家运营管理平台</h6>
						</div>
					</div>
				</div>
			</div>
			{if !empty($news) || !empty($notices)}
				<div class="panel panel-default">
					<h4>系统公告</h4>
					<div class="panel-body">
						<div class="row system-announcement">
							<div class="col-xs-6">
								<ul class="list-unstyled">
									{loop $news $new}
										<li><span class="style-1">新闻</span><a href="{php echo url('article/news-show/detail', array('id' => $new['id']));}">{$new['title']}</a></li>
									{/loop}
								</ul>
							</div>
							<div class="col-xs-6">
								<ul class="list-unstyled">
									{loop $notices $notice}
										<li><span class="style-2">公告</span><a href="{php echo url('article/notice-show/detail', array('id' => $notice['id']));}">{$notice['title']}</a></li>
									{/loop}
								</ul>
							</div>
						</div>
					</div>
				</div>
			{/if}
			<div class="panel panel-default">
				<h4>功能模块介绍</h4>
				<div class="panel-body">
					<div class="row module-info">
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/01.png">
							</div>
							<h6>微现场</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/02.png">
							</div>
							<h6>微旅游</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/03.png">
							</div>
							<h6>微外卖</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/04.png">
							</div>
							<h6>微商城</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/05.png">
							</div>
							<h6>微汽车</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/06.png">
							</div>
							<h6>微房产</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/08.png">
							</div>
							<h6>微点菜</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/09.png">
							</div>
							<h6>微喜帖</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/11.png">
							</div>
							<h6>微网站</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/12.png">
							</div>
							<h6>微投票</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/13.png">
							</div>
							<h6>微信自定义菜单</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/14.png">
							</div>
							<h6>微信会员卡</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/15.png">
							</div>
							<h6>微信营销活动</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/17.png">
							</div>
							<h6>微信优惠券活动</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/18.png">
							</div>
							<h6>微信LBS位置回复</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/19.png">
							</div>
							<h6>微相册</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/20.png">
							</div>
							<h6>微订单</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="resource/images/module/21.png">
							</div>
							<h6>微统计</h6>
						</div>
					</div>

				</div>
			</div>
			<div class="contact panel panel-default">
				<h4>联系我们</h4>
				<div class="panel-body">
					<div class="map col-xs-5" style="height:150px;">
						<div class="img" style="width:100%; height:150px; border:#ccc solid 1px;" id="baidumap"></div>
					</div>
					<div class="info col-xs-7">
						<p>联系人：{$copyright['person']}</p>
						<p>Q&nbsp;&nbsp;&nbsp;&nbsp; Q：{$copyright['qq']}</p>
						<p>手&nbsp;&nbsp;&nbsp;机：{$copyright['phone']}</p>
						<p>公&nbsp;&nbsp;&nbsp;司：{$copyright['company']}</p>
						<p>地&nbsp;&nbsp;&nbsp;址：{$copyright['address']}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="center-block footer" role="footer">
		<div class="text-center">
			{if empty($copyright['footerright'])}<a target="_blank" href="http://mp.weixin.qq.com">星豚微信定制</a>{else}{$copyright['footerright']}{/if} &nbsp; &nbsp; {if !empty($copyright['statcode'])}{$copyright['statcode']}{/if}
		</div>
		<div class="text-center">
			{if empty($copyright['footerleft'])}Powered by <a target="_blank" href="http://www.chaojym.com"><b>mp.weixin.qq.com</b></a>{else}{$copyright['footerleft']}{/if}
		</div>
	</div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script>
	require(['bootstrap']);
	var bmap = {
		'option' : {
			'lock' : false,
			'container' : 'baidumap',
			'infoWindow' : {'width' : 250, 'height' : 100, 'title' : ''},
			'point' : {'lng' : '{$copyright['baidumap']['lng']}', 'lat' : '{$copyright['baidumap']['lat']}'}
		},
		'init' : function(option) {
			var $this = this;
			$this.option = $.extend({},$this.option,option);
			$this.option.defaultPoint = new BMap.Point($this.option.point.lng, $this.option.point.lat);
			$this.bgeo = new BMap.Geocoder();
			$this.bmap = new BMap.Map($this.option.container);
			$this.bmap.centerAndZoom($this.option.defaultPoint, 15);
			$this.bmap.enableScrollWheelZoom();
			$this.bmap.enableDragging();
			$this.bmap.enableContinuousZoom();
			$this.bmap.addControl(new BMap.NavigationControl());
			$this.bmap.addControl(new BMap.OverviewMapControl());
			//添加标注
			$this.marker = new BMap.Marker($this.option.defaultPoint);
			$this.marker.enableDragging();
			$this.bmap.addOverlay($this.marker);
			$this.marker.setAnimation(BMAP_ANIMATION_BOUNCE);
		},
		'setMarkerCenter' : function() {
			var $this = this;
			var center = $this.bmap.getCenter();
			$this.marker.setPosition(new BMap.Point(center.lng, center.lat));
			$this.showPointValue();
			$this.showAddress();
		}
	};
	$(function(){
		var option = {};
		option = {'point' : {'lng' : '{$copyright['baidumap']['lng']}', 'lat' : '{$copyright['baidumap']['lat']}'}}
		bmap.init(option);

		//banner
		$('#banner, #banner .item').height($(window).height());
	});
</script>
</body>
</html>