{template 'common/header-gw'}
<ol class="breadcrumb">
	<li><a href="./?refresh"><i class="fa fa-home"></i></a></li>
	<li><a href="{url 'system/welcome'}">系统</a></li>
	<li class="active">系统信息</li>
</ol>
<div class="main">
	<div class="panel panel-info">
		<div class="panel-heading">用户信息</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<tr>
				<th style="width:250px;">用户ID</th>
				<td>{$info['uid']}</td>
			</tr>
			<tr>
				<th>当前公众号</th>
				<td>{$info['account']}</td>
			</tr>
		</table>
		</div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">系统信息</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<tr>
				<th>服务器系统</th>
				<td>{$info['os']}</td>
			</tr>
			<tr>
				<th>PHP版本 </th>
				<td>PHP Version {$info['php']}</td>
			</tr>
			<tr>
				<th>服务器软件</th>
				<td>{$info['sapi']}</td>
			</tr>
			<tr>
				<th>服务器 MySQL 版本</th>
				<td>{$info['mysql']['version']}</td>
			</tr>
			<tr>
				<th>上传许可</th>
				<td>{$info['limit']}</td>
			</tr>
			<tr>
				<th>当前数据库尺寸</th>
				<td>{$info['mysql']['size']}</td>
			</tr>
			<tr>
				<th>当前附件根目录</th>
				<td>{$info['attach']['url']}</td>
			</tr>
			<tr>
				<th>当前附件尺寸</th>
				<td>{$info['attach']['size']}</td>
			</tr>
		</table>
		</div>
	</div>


</div>
{template 'common/footer-gw'}
