/*IndexEnroll*/
.wrap{padding: 10px 10px 32px 10px;}
.reserve-exp{color:#666666;}
.reserve-exp-tit{padding:0 10px;display:block;border:1px solid #dbdbdd;border-radius:5px;background: #fff;}
.reserve-exp-hd{font-size:16px;color:#343839;padding:13px 0;border-bottom:1px dashed #dbdbdd;}
.reserve-exp-tit div{padding:28px 0;}
.reserve-exp-info{margin:15px 0 0 0;border:1px solid #dbdbdd;border-radius:5px;background: #fff;}
.reserve-exp-info li{padding-left:12px;line-height: 45px;border-bottom:1px solid #dbdbdd;}
.reserve-exp-info li:last-child{border-bottom:none;}
.reserve-exp-info a{margin-right:15px;background: url(../images/mmarrow_2.png) no-repeat right center;background-size:7px 12px;display:block;}
.reserve-exp-info img{width:24px;height:24px;padding-right:12px;}
.reserve-ord{margin-top: 15px;padding:0 10px 16px 10px;border:1px solid #dbdbdd;border-radius:5px;background: #fff;}
.reserve-ord span{display:-webkit-box;line-height:31px;margin-top:12px;}
.reserve-ord span div em{font-size:13px;color: #FFF;padding-left:15px;}
.reserve-ord span div strong{
    font-weight:normal;
    display:inline-block;
    padding:7px 13px;
    margin: 5px 0 5px 10px;
    border:1px solid #dbdbdd;
    border-radius:5px;
}
.reserve-ord span div strong.select{
    background: #0fce4e;
    color:#fff;
    border-color:transparent;
}
.mPro-reserve-hours{-webkit-box-flex: 1;}
.mPro-reserve-time{
    display:block;
}
.mPro-reserve-time input{
    display:inline-block!important;
    width:88px;
    font-size:14px;
    color:#666666;
    background: url(../images/mmarrow_2.png) no-repeat right center;
    -webkit-background-size:7px 12px;
}
.mPro-reserve-time input::-webkit-input-placeholder{
    color:#666666;
}
.mPro-reserve-time select{
    padding:0 21px;
    background: url(../images/mmarrow_2.png) no-repeat right center;
    -webkit-background-size:7px 12px;
    color:#666666;
    font-size:14px;
    display:inline-block!important;
}
.reserve-ord label{display:block;width:85px;}
.reserve-ord label b{color: red;vertical-align:middle;}
.reserve-ord input,.reserve-ord select,.reserve-ord textarea{
    height:31px;
    display:block;
    background:none;
    border:1px solid #dbdbdd;
    border-radius:5px;
    outline:none;
    -webkit-box-sizing:border-box;
    padding: 0 1px;
    margin-left: 10px;
    -webkit-box-flex:1;
}
.reserve-ord .rsvTime input{padding:0;line-height:31px;}
.reserve-ord textarea{min-height:100px;}
.reserve-btn a{display:block;line-height:40px;background: #ff4600;border:1px solid #dbdbdd;border-radius:5px;color:#fff;text-align:center;margin-top:18px;}
.reserve-not a{background: #CCCCCC;}

.inputred{ border-color: red!important;}

.checkit{border:1px solid #dbdbdd;border-radius:5px;-webkit-box-sizing:border-box;padding:3px 12px;margin-left:18px;-webkit-box-flex:1;text-align:left;}
.checkit input{
    display:inline-block;
    margin-left:2px;
    padding:0;
    height:auto;
}
.checkit label{
    display:inline-block;
    vertical-align:middle;
    line-height:20px;
    width:auto;
padding-right: 6px;
}
.reserve-ord select {
background-image: -webkit-linear-gradient(to bottom, white,#f0f0f0);
background-image: linear-gradient(to bottom,white,#f0f0f0);
border: 1px solid #adadad;
font-size: 14px
}
.text-center{text-align:center;}
#copyright{height: 22px;color:#FFFFFF;width: 100%;text-align:center;background-color:#727171;line-height: 22px;font-size: 12px;margin-top:-22px}
#copyright a{color:#FFFFFF;}

.left18{ margin-left: 18px;}
.imgyl{ max-width: 150px;max-height: 150px;}