<ol class="breadcrumb">
	<li><a href="./?refresh"><i class="fa fa-home"></i></a></li>
	<li><a href="{url 'system/welcome'}">系统</a></li>
	<li class="active">{if $do == 'installed'}已安装的模块{elseif $do == 'prepared' || $do == 'install'}安装模块{elseif $do == 'designer'}设计新模块{elseif $do == 'permission'}当前模块{/if}</li>
</ol>
<ul class="nav nav-tabs">
	<li{if $do == 'installed'} class="active"{/if}><a href="{php echo url('extension/module/installed');}">已安装的模块</a></li>
	<li{if $do == 'prepared' || $do == 'install'} class="active"{/if}><a href="{php echo url('extension/module/prepared');}">安装模块</a></li>
	{if $do == 'permission'}<li class="active"><a href="{php echo url('extension/module/permission', array('id' => $id))}">当前模块</a></li>{/if}
</ul>
