		</div>
		<script type="text/javascript">
			require(['bootstrap']);
			{if $_W['uid']}
				function checknotice() {
					$.post("{php echo url('utility/notice')}", {}, function(data){
						var data = $.parseJSON(data);
						$('#notice-container').html(data.notices);
						$('#notice-total').html(data.total);
						if(data.total > 0) {
							$('#notice-total').css('background', '#ff9900');
						} else {
							$('#notice-total').css('background', '');
						}
						setTimeout(checknotice, 60000);
					});
				}
				checknotice();
			{/if}
		</script>
		<div class="container-fluid footer" role="footer">
			<div class="page-header"></div>
		<span class="pull-left">
			<p>{if empty($_W['setting']['copyright']['footerleft'])}<a target="_blank" href="http://mp.weixin.qq.com"><b>mp.weixin.qq.com</b></a>{else}{$_W['setting']['copyright']['footerleft']}{/if}</p>
		</span>
		<span class="pull-right">
			<p>{if empty($_W['setting']['copyright']['footerright'])}<a href="http://mp.weixin.qq.com" target="_blank"><b>星豚微信定制</b></a>{else}{$_W['setting']['copyright']['footerright']}{/if}{if !empty($_W['setting']['copyright']['statcode'])}&nbsp; &nbsp; {$_W['setting']['copyright']['statcode']}{/if}</p>
		</span>
		</div>
		{if !empty($_W['setting']['copyright']['statcode'])}{$_W['setting']['copyright']['statcode']}{/if}
	</body>
</html>
