
{loop $coupons $coupon}
<div class="coupon border6">
    <div class="coupon_t border4 clearfix">
        <img src="{php echo $this->_img_url}coupon_bg_left.png" style="position:absolute;top:69px;left:0;width:4px;height:8px;"/>
        <img src="{php echo $this->_img_url}coupon_bg_right.png" style="position:absolute;top:69px;right:0;width:4px;height:8px;"/>
        <p><span>￥</span>50</p>
        <dl class="fl">
            <dd style="font-size:15px;">天猫商城优惠券</dd>
            <dd style="font-size:12px;">编号：NO.1323121</dd>
        </dl>
    </div>
    <div class="coupon_b">
        <dd>日期：2016-09-05 13:56</dd>
        <dd>适用范围，适用会员：xxxxx   适用门店：xxxx   适用商品：xxxx</dd>
    </div>
</div>
{/loop}

{loop $cashcoupons $cashcoupon}
<div class="coupon border6">
    <div class="coupon_t border4 clearfix" style="background-color:#65baef;">
        <img src="{php echo $this->_img_url}coupon_bg_left.png" style="position:absolute;top:69px;left:0;width:4px;height:8px;"/>
        <img src="{php echo $this->_img_url}coupon_bg_right.png" style="position:absolute;top:69px;right:0;width:4px;height:8px;"/>
        <p><span>￥</span>200</p>
        <dl class="fl">
            <dd style="font-size:15px;">{$cashcoupon['couponAccountName']}</dd>
            <dd style="font-size:12px;">类型：NO.1323121</dd>
        </dl>
    </div>
    <div class="coupon_b">
        <dd>日期：2016-09-05 13:56</dd>
        <dd>适用范围，适用会员：xxxxx   适用门店：xxxx   适用商品：xxxx</dd>
    </div>
</div>
